@inherits LayoutComponentBase

<div class="page">
    <header class="app-header">
        <h1 class="app-title">PoRemoveBad</h1>
    </header>
    
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<Toast />
